<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Emplyee</h4>
                        <button type="button" rel="tooltip" title="View" class="btn btn-primary btn-simple btn-xs"
                            [routerLink]="['/employee', 'add']">Add Employee</button>
                    </div>

                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employee of tableData.employees; let i=index">
                                    <td class="text-center">{{i + 1}}</td>
                                    <td class="text-center">{{employee.employeeName}}</td>

                                    <td class="text-center" *ngIf="!employee.employeeSupervisor">
                                        NONE </td>
                                    <td class="text-center" *ngIf="employee.employeeSupervisor">
                                        {{employee.employeeSupervisor.employeeName}} </td>
                                    <td class="text-center">{{employee.employeeDateOfBirth | date:'yyyy-MM-dd'}}</td>
                                    <td class="text-center">{{employee.employeeDateOfHire | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </td>
                                    <td class="text-center">{{employee.address.country}}</td>
                                    <td class="text-center">{{employee.address.city}}</td>
                                    <td class="text-center">{{employee.address.district}}</td>
                                    <td class="text-center">{{employee.address.street}}</td>
                                    <td class="text-center">{{employee.address.streetNumber}}</td>
                                    <td class="text-center">{{employee.address.zipCode}}</td>
                                    <td class="text-center">{{employee.hasCar?'Yes':'No'}}</td>
                                    <td class="text-center">
                                        <button type="button" rel="tooltip" title="View"
                                            class="btn btn-info btn-simple btn-xs"
                                            [routerLink]="['/employee', employee.employeeId]">Edit Employee</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>