<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title "> Insert Row In {{tableName}}</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center">Column Name</th>
                  <th class="text-center">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let o of columns;">
                  <td class="text-center">
                    {{o}}
                  </td>
                  <td class="text-center">
                    <input type="text" class="form-control">
                  </td>
                  <td class="text-center">
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <button type="button" class="btn btn-info btn-fill">Insert Row</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>