<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Employee Map</h4>
                        <div>
                            <agm-map [latitude]="lat" [longitude]="lng">
                                <agm-marker *ngFor="let employee of employees" [latitude]="employee.address.latitude" 
                                    [longitude]="employee.address.langitude">
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>