<label class="contorl-label">Selected Attribute</label>
<select [(ngModel)]="selectRemove" name="attribute" class="form-control"  (ngModelChange)="onChangeObj($event)">
    <option *ngFor="let attribute of attributes" [ngValue]="attribute">
        {{attribute.attributeName}} {{attribute.attributeValue}}
    </option>
</select>