<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Attribute</h4>
                        <button type="button" rel="tooltip" title="View" class="btn btn-primary btn-simple btn-xs"
                            [routerLink]="['/attribute', 'add']">Add Attribute</button>
                    </div>

                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attribute of tableData.attributes; let i=index">
                                    <td class="text-center">{{i + 1}}</td>
                                    <td class="text-center">{{attribute.attributeName}}</td>
                                    <td class="text-center">{{attribute.attributeValue}}</td>
                                    <td class="text-center">
                                        <button type="button" rel="tooltip" title="View"
                                            class="btn btn-info btn-simple btn-xs"
                                            [routerLink]="['/attribute', attribute.attributeId]">View Attribute</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>