<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Select Attribute</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <select [(ngModel)]="selectAttribute" name="attribute" class="form-control"
                                    (ngModelChange)="onChangeObj($event)">
                                    <option *ngFor="let attribute of attributes" [ngValue]="attribute">
                                        <div>
                                            {{attribute.attributeName}} {{attribute.attributeValue}}
                                        </div>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div *ngIf="employees" class="row">
                    <app-emplyees [data]="employees"></app-emplyees>
                </div>
            </div>
        </div>
    </div>
</div>
