<section class="our-webcoderskull padding-lg">
  <div class="row heading heading-icon">
    <h2>Assignment</h2>
  </div>
  <ul class="row">
    <li class="col-12 col-md-6 col-lg-4" routerLink="/attributes">
      <div class="cnt-block equal-hight" style="height: 349px;">
        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
        <h3>Attribute</h3>
      </div>
    </li>
    <li class="col-12 col-md-6 col-lg-4" routerLink="/employee">
      <div class="cnt-block equal-hight" style="height: 349px;">
        <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
        <h3>Employee</h3>
      </div>
    </li>
    <li class="col-12 col-md-6 col-lg-4">
      <div class="cnt-block equal-hight" style="height: 349px;"  routerLink="/map">
        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
        <h3>Map</h3>
      </div>
    </li>
  </ul>
</section>