<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add Attribute</h4>
                    </div>
                    <div class="content">
                        <form #addAttributeForm="ngForm" (ngSubmit)="saveAttribute(addAttributeForm)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Attribute Name</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="attnameContorl" name="attnameContorl" #attnameContorl="ngModel" ngModel>
                                        <div class="alert aler-denger"
                                            *ngIf="!attnameContorl.valid && attnameContorl.touched">
                                            <div *ngIf="attnameContorl.errors.required">
                                                Attribute Name is required
                                            </div>
                                            <div *ngIf="attnameContorl.errors.maxlength">
                                                Attribute Name is not more than
                                                {{attnameContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Attribute Name</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="attvalueContorl" name="attvalueContorl" #attvalueContorl="ngModel"
                                            ngModel>
                                        <div class="alert aler-denger"
                                            *ngIf="!attvalueContorl.valid && attvalueContorl.touched">
                                            <div *ngIf="attvalueContorl.errors.required">
                                                Attribute Name is required
                                            </div>
                                            <div *ngIf="attvalueContorl.errors.maxlength">
                                                Attribute Name is not more than
                                                {{attvalueContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info btn-fill btn-block" name="addbutton"
                                        [disabled]="!addAttributeForm.valid || addAttributeForm.untouched" > Add
                                        Attribute</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>