<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Attribute</h4>
                    </div>
                    <div class="content">
                        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attribute Name</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="attributeName" name="attributeName"
                                            [(ngModel)]="attribute.attributeName" #attnameContorl="ngModel">
                                        <div class="alert aler-denger"
                                            *ngIf="!attnameContorl.valid && attnameContorl.touched">
                                            <div *ngIf="attnameContorl.errors.required">
                                                Attribute Name is required
                                            </div>
                                            <div *ngIf="attnameContorl.errors.maxlength">
                                                Attribute Name is not more than
                                                {{attnameContorl.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Attribute Value</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id=attributeValue name="attributeValue"
                                            [(ngModel)]="attribute.attributeValue" #attrvalueControl="ngModel">
                                        <div class="alert aler-denger"
                                            *ngIf="!attrvalueControl.valid && attrvalueControl.touched">
                                            <div *ngIf="attrvalueControl.errors.required">
                                                Attribute Name is required
                                            </div>
                                            <div *ngIf="attrvalueControl.errors.maxlength">
                                                Attribute Name is not more than
                                                {{attrvalueControl.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-info btn-fill  btn-block"
                                        [disabled]="!editForm.valid || editForm.untouched">Edit
                                        Attribute</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" (click)="deleteAttribute()"
                                        class="btn btn-danger btn-fill  btn-block">Delete Attribute</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>