<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">CREATE FOLDERS</h4>
          </div>
          <div class="content">
            <form #createFolder="ngForm" (ngSubmit)="onSubmit(createFolder)">
              <div class="row">
                <div class="col-md-6">
                  <label>FILENAME</label>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="FILENAME" name="fullpath" #fullpath="ngModel" ngModel>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-center">
                    <label>ACCESSIBLE</label>
                  </div>
                  <div>
                    <ul class="list-inline ">
                      <li class="list-inline-item col-md-4" *ngFor="let item of itemsList">
                        <input type="radio" [(ngModel)]="radioSelected" name="radiobutton" value="{{item.value}}" (change)="onItemChange(item)" #radiobutton="ngModel"
                        /> {{item.name}}
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-info btn-fill btn-sm">CREATE FOLDER</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">BUCKETS</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let entry of tableData1.entries; let i=index">

                  <td>
                    <div class="text-center">
                      {{i+1}}
                    </div>
                  </td>
                  <td *ngIf="entry.isDirectory">
                    <div class="text-center">
                      <div class="font-icon-detail" class="pe-7s-folder"></div>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{entry.fullpath}}
                    </div>
                  </td>

                  <td class="text-center">
                    <div>
                      {{entry.ownerId.username}}
                    </div>
                  </td>


                  <td class="text-center">
                    <div class="btn-group">

                      <button type="button" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" [routerLink]="['/entry', entry.id]">
                        <i class="fa fa-eye"></i>
                      </button>

                      <button type="button" rel="tooltip" title="Download" class="btn btn-success btn-simple btn-xs" (click)="onDownload(entry.id)">
                        <i class="fa fa-download"></i>
                      </button>

                      <button *ngIf="entry.ownerId.id === currentUserId" type="button" rel="tooltip" title="Edit Task" class="btn btn-warning btn-simple btn-xs"
                        [routerLink]="['/entry', entry.id, 'edit']">
                        <i class="fa fa-edit"></i>
                      </button>

                      <button *ngIf="entry.ownerId.id === currentUserId" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs"
                        (click)="onDelete(entry.id)">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>