<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title "> Alert Column {{columName}}</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center">Constraints</th>
                  <th class="text-center">Value</th>
                  <th class="text-center">Operation</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td class="text-center">
                    Type
                  </td>
                  <td class="text-center">
                    <select class="form-control">
                      <option>int</option>
                      <option>varchar</option>
                    </select>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-fill ">Alert</button>
                  </td>
                </tr>

                <tr>
                  <td class="text-center">
                    Size
                  </td>
                  <td class="text-center">
                    <input type="text" [(ngModel)]="size" class="form-control">
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-fill">Alert</button>
                  </td>
                </tr>

                <tr>
                  <td class="text-center">
                    Is Null
                  </td>
                  <td class="text-center" *ngIf="isNull === 'YES'">
                    <label class="checkbox-inline" class="text-center">
                      <input type="checkbox" checked>
                    </label>
                  </td>
                  <td class="text-center" *ngIf="isNull === 'NO'">
                    <label class="checkbox-inline" class="text-center">
                      <input type="checkbox">
                    </label>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-fill">Alert</button>
                  </td>
                </tr>

                <tr>
                  <td class="text-center">
                    Auto Increment
                  </td>
                  <td class="text-center" *ngIf="auto_increment === 'auto_increment'">
                    <label class="checkbox-inline" class="text-center">
                      <input type="checkbox" checked>
                    </label>
                  </td>
                  <td class="text-center" *ngIf="auto_increment !== 'auto_increment'">
                    <label class="checkbox-inline" class="text-center">
                      <input type="checkbox">
                    </label>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-fill">Alert</button>
                  </td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>