<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title "> Update Row In {{tableName}}</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let o of columnsName?.columnsName;">
                    {{o}}
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let elements of rows?.row; let i=index">


                  <td *ngFor=" let e of this.rows.row[i].elements; let  j=index" class="text-center">
                    <div *ngIf="!this.rows.row[i].elements[j].isNull; else ISNULL">
                    
                      <input type="text" class="form-control" [(ngModel)]="rows.row[i].elements[j].value">
                    </div>
                  </td>

                  <ng-template #ISNULL>
                      <td>
                      </td>
                    </ng-template>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <button type="button" class="btn btn-info btn-fill">Update Row</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>