<div class="main-content">
  <div class="container-fluid">




    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Create Database</h4>
          </div>

          <div class="content">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <label>Database name</label>
                </div>
                <form #create="ngForm" (ngSubmit)="onSubmit(create)" name="create">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Database name" name="dataBaseName" #dataBaseName="ngModel" ngModel>
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-fill btn-block" type="submit">Create</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Database List</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let schema of tableData1.schemas; let i=index">
                  <td>
                    <div class="text-center">
                      {{schema.id}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{schema.dataBaseName}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{schema.ownerId.username}}
                    </div>
                  </td>

                  <td class="text-center">
                    <div class="btn-group">

                      <button type="button" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" [routerLink]="['/database', schema.id]"
                      [queryParams]="{record:schema.dataBaseName }">
                  
                        <i class="fa fa-eye"></i>
                      </button>

                      <button *ngIf="schema.ownerId.id === currentUserId" type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs"
                        (click)="onDelete(schema.id , i)">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>