<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Executable Files</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let process of tableData1.processes; let i=index">
                  <td>
                    <div class="text-center">
                      {{i +1}}
                    </div>
                  </td>
                  <td *ngIf="!process.entry.isDirectory && process.entry.isExecutable">
                    <div class="text-center">
                      <div class="font-icon-detail" class="pe-7s-repeat"></div>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{process.entry.fullpath}}
                    </div>
                  </td>

                  <td class="text-center">
                    <div>
                      {{process.entry.ownerId.username}}
                    </div>
                  </td>


                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" [routerLink]="['/processes', process.entry.id , process.entry.fullpath]">
                        <i class="fa fa-eye"></i>
                      </button>

                      <button type="button" rel="tooltip" title="Run" class="btn btn-success btn-simple btn-xs" (click)="onStart(process,i)">
                        <i class="fa fa-play"></i>
                      </button>


                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>