<body>
  <div id="login">
    <h3 class="text-center text-white pt-5">Play Dice by Chronis Basilis and  Efthimis Gerokostas</h3>
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <h3 class="text-center text-info">Client Play</h3>
            <form id="login-form" (ngSubmit)="createSeed()">
              <div class="row">
                <div class="col-sm">
                  <img [src]="defaultProfilePic" class="d-block m-auto" />
                </div>
                <div class="col-sm">
                  <button type="submit" class="btn  btn-primary d-block m-auto"> Roll dice </button>
                  <br>
                  <button type="button" class="btn btn-success d-block m-auto" (click)="verify()">Verify Roll</button>
                </div>
              </div>
              <br>
              <div class="row">
                  <label class="contorl-label text-center">Result : {{message}} </label>
                  <br>
                  <label class="contorl-label text-center">Verify : {{verification}} </label>
                  <br>
                  <label class="contorl-label text-center">Server Dice : {{serverDice}} </label>
                  <br>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>






<!-- 
  <form (ngSubmit)="createSeed()">
    <div class="mb-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <form (ngSubmit)="verify()"> -->