<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title "> Insert Row </h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center">Schema Name</th>
                  <th class="text-center">Table Name</th>
                  <th class="text-center">Operation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    {{schemaName}}
                  </td>
                  <td class="text-center">
                    {{tableName}}
                  </td>
                  <td class="text-center">
                    <button type="button" rel="tooltip" title="Insert" class="btn btn-success btn-simple btn-xs" [routerLink]="['/database',schemaName,'table',tableName]"
                      [queryParams]="{record:columnsName | json }"
                      >
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title "> TABLE CONTENT </h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">

              <thead>
                <tr>
                  <th class="text-center" *ngFor="let cell of columnsName?.columnsName">{{ cell }}</th>
                  <th class="text-center">Operetion</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let elements of rows?.row; let i=index">


                  <td *ngFor=" let e of this.rows.row[i].elements; let  j=index" class="text-center">
                    <div *ngIf="!this.rows.row[i].elements[j].isNull; else ISNULL">
                      {{rows.row[i].elements[j].value}}
                    </div>
                  </td>
                  <td class="text-center">
                    <button type="button" rel="tooltip" title="Update" class="btn btn-success btn-simple btn-xs" (click)="onUpdate(elements , i)" >
                      <i class="fa fa-pencil-square-o"></i>
                    </button>


                    <button type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>

                  <ng-template #ISNULL>
                    <td>
                    </td>
                  </ng-template>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>