<html>

<head>
    <%- include("./partials/header.ejs") %>
        <script>
            function chooseTab(name) {
                var image = "<img src='/images/" + name + ".jpeg'/>";
                $('#tabContent').html(image);
                window.location.hash = name;
            }

            window.onload = function () {
                chooseTab(unescape(self.location.hash.substr('jeff')) || "jeff");
            }
        </script>
</head>

<body class="bg-light">
    <%- include("./partials/nav.ejs") %></br>
        <div class="row">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link link-dark" id="jeff" onclick="chooseTab('jeff')">Jeff Bezos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark" id="bill" onclick="chooseTab('bill')">Bill Gate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark" id="elon" onclick="chooseTab('elon')">Elon Musk</a>
                </li>
            </ul>
        </div>
        <br>
        <div class="d-flex justify-content-center align-items-center" id="tabContent"> </div>
</body>

</html>