<html lang="en">

<head>
  <%- include("./partials/header.ejs") %>
</head>

<body class="bg-light">
  <div class="conatainor">
    <%- include("./partials/nav.ejs") %>
      <br>
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto">
          <form class="justify-content-centers" action="/post" method="post">
            <div class="row">
              <div class="form-group">
                <label for="title">Title <span class="require">*</span></label>
                <input type="text" class="form-control" name="title" />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group">
                <label for="description">Description <span class="require">*</span></label>
                <textarea rows="3" class="form-control" name="description"></textarea>
              </div>
            </div>
            <br>
            <div class="row col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto">
              <button class="btn btn-dark">Create Post</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</body>

</html>