<html lang="en">
<head>
  <!-- Header -->
  <%- include("./partials/header.ejs") %>
</head>
<body class="bg-light">
  <div class="conatainor">
    <!-- Navbar -->
    <%- include("./partials/nav.ejs") %>
    <br>
      <!-- Search form -->
      <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="/post" method="get">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" name="search" aria-label="Search">
        <button class="btn btn-dark">Search</button>
      </form>
      <br>
      <div>
        <% if (flag){ %>
        <% if (posts.length > 0) { %>
          <% posts.forEach(post=> { %>
            <div class="list-group">
              <div class="list-group-item list-group-item-action flex-column align-items-start">
                <h5 class="mb-1"><%= post.title %></h5>
                <p><%- post.description %></p>
              </div>
            </div>
          <% }) %>
            <% } else { %>
              <p class="text-center">There is no post to display for
                  <span class="fw-bold"><%- element %></span>  
              </p>
            <% } %>
            <%} %>
      </div>
  </div>
</body>
</html>