<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Employee</h4>
                    </div>
                    <div class="content">
                        <form #editEmployeeForm="ngForm" (ngSubmit)="editEmployee(editEmployeeForm)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Employee Name</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="employeenameContorl" name="employeenameContorl"
                                            #employeenameContorl="ngModel" [(ngModel)]="employee.employeeName">
                                        <div class="alert aler-denger"
                                            *ngIf="!employeenameContorl.valid && employeenameContorl.touched">
                                            <div *ngIf="employeenameContorl.errors.required">
                                                Employee Name is required
                                            </div>
                                            <div *ngIf="employeenameContorl.errors.maxlength">
                                                Employee Name is not more than
                                                {{employeenameContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Has Car</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" (change)="checkValue()" [(ngModel)] ="employee.hasCar"
                                            name="hasCar" #checkBox="ngModel" ngModel />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Date Of Birth</label>
                                        <input required id="employeeDateOfBirthControl"
                                            name="employeeDateOfBirthControl" class="form-control" type="text"
                                            bsDatepicker #employeeDateOfBirthControl="ngModel"
                                            [(ngModel)]="employee.employeeDateOfBirth">

                                        <div class="alert aler-denger"
                                            *ngIf="!employeeDateOfBirthControl.valid && employeeDateOfBirthControl.touched">
                                            <div *ngIf="employeeDateOfBirthControl.errors.required">
                                                Date Of Birth is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Date of Hire</label>
                                        <input required id="employeeDateOfHireControl" name="employeeDateOfHireControl"
                                            class="form-control" type="text" bsDatepicker
                                            #employeeDateOfHireControl="ngModel"
                                            [(ngModel)]="employee.employeeDateOfHire">

                                        <div class="alert aler-denger"
                                            *ngIf="!employeeDateOfHireControl.valid && employeeDateOfHireControl.touched">
                                            <div *ngIf="employeeDateOfHireControl.errors.required">
                                                Date Of Hire is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Country</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="countryContorl" name="countryContorl" #countryContorl="ngModel"
                                            [(ngModel)]="employee.address.country">
                                        <div class="alert aler-denger"
                                            *ngIf="!countryContorl.valid && countryContorl.touched">
                                            <div *ngIf="countryContorl.errors.required">
                                                Country is required
                                            </div>
                                            <div *ngIf="countryContorl.errors.maxlength">
                                                Country is not more than
                                                {{countryContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">City</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="cityContorl" name="cityContorl" #cityContorl="ngModel"
                                            [(ngModel)]="employee.address.city">
                                        <div class="alert aler-denger"
                                            *ngIf="!cityContorl.valid && cityContorl.touched">
                                            <div *ngIf="cityContorl.errors.required">
                                                City is required
                                            </div>
                                            <div *ngIf="cityContorl.errors.maxlength">
                                                City is not more than
                                                {{cityContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Distrrict</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="districtContorl" name="districtContorl" #districtContorl="ngModel"
                                            [(ngModel)]="employee.address.district">
                                        <div class="alert aler-denger"
                                            *ngIf="!districtContorl.valid && districtContorl.touched">
                                            <div *ngIf="districtContorl.errors.required">
                                                Distrrict is required
                                            </div>
                                            <div *ngIf="districtContorl.errors.maxlength">
                                                Distrrict is not more than
                                                {{districtContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Street</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="streetContorl" name="streetContorl" #streetContorl="ngModel"
                                            [(ngModel)]="employee.address.street">
                                        <div class="alert aler-denger"
                                            *ngIf="!streetContorl.valid && streetContorl.touched">
                                            <div *ngIf="streetContorl.errors.required">
                                                Street is required
                                            </div>
                                            <div *ngIf="streetContorl.errors.maxlength">
                                                Street is not more than
                                                {{streetContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Street Number</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="streetnumberContorl" name="streetnumberContorl"
                                            #streetnumberContorl="ngModel" [(ngModel)]="employee.address.streetNumber">
                                        <div class="alert aler-denger"
                                            *ngIf="!streetnumberContorl.valid && streetnumberContorl.touched">
                                            <div *ngIf="streetnumberContorl.errors.required">
                                                Street Number is required
                                            </div>
                                            <div *ngIf="streetnumberContorl.errors.maxlength">
                                                Street Number is not more than
                                                {{streetnumberContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Zip Code</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="zipcodeContorl" name="zipcodeContorl" #zipcodeContorl="ngModel"
                                            [(ngModel)]="employee.address.zipCode">
                                        <div class="alert aler-denger"
                                            *ngIf="!zipcodeContorl.valid && zipcodeContorl.touched">
                                            <div *ngIf="zipcodeContorl.errors.required">
                                                Zip Code is required
                                            </div>
                                            <div *ngIf="zipcodeContorl.errors.maxlength">
                                                Zip Code is not more than
                                                {{zipcodeContorl.errors.maxlength.requiredLength}} characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Latitude</label>
                                        <input required type="text" class="form-control" id="streetnumberContorl"
                                            name="latitudeContorl" #latitudeContorl="ngModel"
                                            [(ngModel)]="employee.address.latitude">
                                        <div class="alert aler-denger"
                                            *ngIf="!latitudeContorl.valid && latitudeContorl.touched">
                                            <div *ngIf="latitudeContorl.errors.required">
                                                Latitude is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Langitude</label>
                                        <input required maxlength="100" type="text" class="form-control"
                                            id="langitudeContorl" name="langitudeContorl" #langitudeContorl="ngModel"
                                            [(ngModel)]="employee.address.langitude">
                                        <div class="alert aler-denger"
                                            *ngIf="!langitudeContorl.valid && langitudeContorl.touched">
                                            <div *ngIf="langitudeContorl.errors.required">
                                                Langitude is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label"> Supervizor  {{selectedEmployee.employeeName}}</label>
                                        <select [(ngModel)]="selectedEmployee" name="employee" class="form-control">
                                            <option *ngFor="let employee of employees" [ngValue]="employee">
                                                {{employee.employeeName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="contorl-label">Edit Attribute</label>
                                        <select  name="attribute" class="form-control" [(ngModel)]="selectAttribute"
                                            (ngModelChange)="onChangeObj($event)">
                                            <option *ngFor="let attribute of tableData.attributes; index as i"
                                                [ngValue]="attribute">
                                                <div *ngIf="!tableData.slected[i]">
                                                    {{attribute.attributeName}} {{attribute.attributeValue}} Unselected
                                                </div>
                                                <div *ngIf="tableData.slected[i]" class="bg-success">
                                                    {{attribute.attributeName}} {{attribute.attributeValue}}
                                                </div>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-info btn-fill btn-block"
                                        [disabled]="!editEmployeeForm.valid || editEmployeeForm.untouched"
                                        name="editbutton" id="editbutton">Edit
                                        Employee</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" (click)="deleteEmployee()"
                                        class="btn btn-danger btn-fill  btn-block">Delete Employee</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>