<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Create Table</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center">Schema Name</th>
                  <th class="text-center">Operation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="text-center">
                      {{schemaName}}
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" rel="tooltip" title="Create Table" class="btn btn-success btn-simple btn-xs" [routerLink]="['/database',schemaName,'create']">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Table List</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let schemaObject of tableData1.schemasObjects; let i=index">
                  <td>
                    <div class="text-center">
                      {{schemaObject.id}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{schemaObject.objectName}}
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      {{schemaObject.schema.dataBaseName}}
                    </div>
                  </td>


                  <td class="text-center">
                    <div class="btn-group">

                      <button type="button" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" [routerLink]="['/database', schemaObject.schema.dataBaseName,schemaObject.objectName]">
                        <i class="fa fa-eye"></i>
                      </button>

                      <button type="button" rel="tooltip" title="Structure" class="btn btn-success btn-simple btn-xs" [routerLink]="['/database', schemaObject.schema.dataBaseName, 'structure',schemaObject.objectName]">
                        <i class="fa fa-eye"></i>
                      </button>

                      <button *ngIf="schemaObject.schema.ownerId.id === currentUserId" type="button" rel="tooltip" title="Drop" class="btn btn-danger btn-simple btn-xs"
                        (click)="onDelete(schemaObject.id , i)">
                        <i class="fa fa-times"></i>
                      </button>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>