<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Team 32</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <br>
    <br>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Username</td>
            <td>Description</td>
            <td>Update login password</td>
            <td>Last login</td>
            <td>Recommended days for change password </td>
            <td>Password unchanged </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td sec:authentication="principal.username"></td>
            <td sec:authentication="principal.description"></td>
            <td sec:authentication="principal.lastUpdate"></td>
            <td sec:authentication="principal.lastLogin"></td>
            <td sec:authentication="principal.changePassword"></td>
            <td sec:authentication="principal.passwordUnchanged"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>