<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">RENAME AND ACCESS</h4>
          </div>

          <div class="content">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <label>Rename</label>
                </div>
                <form #rename="ngForm" (ngSubmit)="onSubmit(rename)" name="rename">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Rename" name="fullpath" #fullpath="ngModel" ngModel>
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-fill btn-block" type="button" (click)="onRename(rename)">Rename</button>
                    </span>
                  </div>
                </form>
              </div>

              <div class="col-md-6">
                <div>
                  <label>Access</label>
                </div>
                <form  #access="ngForm" (ngSubmit)="onSubmitAccess(access)" name="access">
                  <div>
                    <ul class="list-inline">
                      <li class="list-inline-item col-md-3" *ngFor="let item of itemsList">
                        <input type="radio" [(ngModel)]="radioSelected" name="radiobutton" value="{{item.value}}" (change)="onItemChange(item)" #radiobutton="ngModel"
                        ngModel/> {{item.name}}
                      </li>
                    </ul>
                    <div class="col-md-2">
                      <button type="submit" class="btn btn-info btn-fill btn-block">Access</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">ADD SPECIFIC PERMISSIONS</h4>
          </div>
          <div class="content">
            <form #addAccess="ngForm" (ngSubmit)="onAccess(addAccess)">
              <div class="row">
                <div class="col-md-6">
                  <label>Username</label>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" #username="ngModel" ngModel>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <label>ACCESSIBLE</label>
                  </div>
                  <div>
                    <ul class="list-inline">
                      <li class="list-inline-item col-md-3" *ngFor="let item of intemListFolderPremission">
                        <input type="radio" [(ngModel)]="readioSelcectedUser" name="radiobuttonFolder" value="{{item.value}}" (change)="onItemChangeFolderAccess(item)" #radiobuttonFolder="ngModel"/> {{item.name}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-info btn-fill btn-block">Add </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">SPECIFIC PERMISSIONS</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="text-center" *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let userHasAccess of tableData1.userHasAccess; let i=index">
                  <td>
                    <div class="text-center">
                      {{i + 1 }}
                    </div>
                  </td>

                  <td>
                    <div class="text-center">
                      {{userHasAccess.userModel.username }}
                    </div>
                  </td>

                  <td *ngIf="entry.isDirectory">
                    <div class="text-center" *ngIf="userHasAccess.canExecute && userHasAccess.canRead && userHasAccess.canWrite ;">
                      View Create
                    </div>
                    <div class="text-center" *ngIf="userHasAccess.canExecute && userHasAccess.canRead && !userHasAccess.canWrite ;">
                      View
                    </div>
                    <div class="text-center" *ngIf="!userHasAccess.canExecute && !userHasAccess.canRead && !userHasAccess.canWrite ;">
                      Block
                    </div>
                  </td>

                  <td>
                    <div class="text-center">
                      {{entry.fullpath}}
                    </div>
                  </td>

                  <td class="text-center">
                    <div class="btn-group">
                      <button *ngIf="(userHasAccess.canExecute && userHasAccess.canRead && userHasAccess.canWrite) || (!userHasAccess.canExecute && !userHasAccess.canRead && !userHasAccess.canWrite) "
                        type="button" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs" (click)="onView(userHasAccess.userModel.id)">
                        <i class="fa fa-eye"></i>
                      </button>
                      <button *ngIf="(userHasAccess.canExecute && userHasAccess.canRead && userHasAccess.canWrite) || (userHasAccess.canExecute && userHasAccess.canRead && !userHasAccess.canWrite) "
                        type="button" rel="tooltip" title="Block" class="btn btn-warning btn-simple btn-xs" (click)="onBlock(userHasAccess.userModel.id)">
                        <i class="fa fa-eye-slash"></i>
                      </button>
                      <button *ngIf=" (userHasAccess.canExecute && userHasAccess.canRead && !userHasAccess.canWrite) || (!userHasAccess.canExecute && !userHasAccess.canRead && !userHasAccess.canWrite)"
                        type="button" rel="tooltip" title="View Create" class="btn btn-success btn-simple btn-xs" (click)="onViewCreate(userHasAccess.userModel.id)">
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="onDelete(userHasAccess.userModel.id , i)">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>