<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title">CREATE FOLDERS</h4>
          </div>
          <div class="content">
            <form #createFolder="ngForm" (ngSubmit)="onSubmit(createFolder)">

              <div class="row">
                <div class="col-md-6">
                  <label>FILENAME</label>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="FILENAME" name="fullpath" #fullpath="ngModel" ngModel>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>ACCESSIBLE</label>
                  <div>
                    <ul class="list-inline">
                      <li class="list-inline-item" *ngFor="let item of itemsList">
                        <input type="radio" [(ngModel)]="radioSelected" name="radiobutton" value="{{item.value}}" (change)="onItemChange(item)" #radiobutton="ngModel"
                        /> {{item.name}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-info btn-fill btn-sm frmBtn">CREATE FOLDER</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title">Upload File</h4>
          </div>
          <div class="content">
            <form #uploadFile="ngForm" (ngSubmit)="onUpload()">
              <div class="row">
                <div class="col-md-5">
                  <label>FILENAME</label>
                  <div class="form-group">
                    <input type="file" class="form-control" (change)="onFileSelect($event)">
                  </div>
                </div>
                <div class="col-md-5">
                  <label>ACCESSIBLE</label>
                  <div>
                    <ul class="list-inline">
                      <li class="list-inline-item" *ngFor="let item of itemsList">
                        <input type="radio" [(ngModel)]="radioSelected" name="radiobutton" value="{{item.value}}" (change)="onItemChange(item)" #radiobutton="ngModel"
                        /> {{item.name}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <label>Executable</label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [checked]="!checkBox" name="checkBox" #checkBox="ngModel" (change)="onChangeCheckBox()"
                      ngModel/>
                  </div>
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-info btn-fill btn-sm frmBtn">UPLOAD FILE</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- <div class="header">
            <h4 class="title">Directory</h4>
          </div> -->
          <div class="header">
            <!-- <h4 class="title">{{parent?.fullpath}}</h4> -->


            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <tbody>
                  <tr>
                    <!-- <td>{ {parent?.paretnId}}</td> -->
                    <td>

                      <button *ngIf="!!parent?.paretnId" type="button" rel="tooltip" title="Up" class="btn btn-info btn-simple btn-xs" [routerLink]="['/entry',parent?.paretnId]">
                        <i class="fa fa-level-up"></i>
                      </button>

                      <!-- <div class="text-left"> -->
                      {{parent?.fullpath}}
                      <!-- </div> -->
                    </td>
                    <td>
                      <button *ngIf="canCopyCanCut && (entryCopyCut?.paretnId !== parentEntryId)" type="button" rel="tooltip" title="Paste" class="btn btn-success btn-simple btn-xs"
                        (click)="onPaste(parent.id)">
                        <i class="fa fa-clipboard"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>



            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th class="text-center" *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entry of tableData1.entries; let i=index">

                    <td>
                      <div class="text-center">
                        {{i+1}}
                      </div>
                    </td>

                    <td *ngIf="entry.isDirectory;else isFile">
                      <div class="text-center">
                        <div class="font-icon-detail" class="pe-7s-folder"></div>
                      </div>
                    </td>

                    <td *ngIf="entry.isExecutable;else isNotExecutable">
                      <div class="text-center">
                        YES
                      </div>
                    </td>

                    <td>
                      <div class="text-center">
                        {{entry.fullpath}}
                      </div>
                    </td>

                    <td>
                      <div class="text-center">
                        {{entry.ownerId.username}}
                      </div>
                    </td>
                    <td>
                      <!-- <div class="text-center">
                        {{entry.paretnId}}
                      </div> -->

                      <div class="btn-group" class="text-center"> 
                        <button *ngIf="!entry.isExecutable && entry.isDirectory" type="button" rel="tooltip" title="View" class="btn btn-primary btn-simple btn-xs"
                          [routerLink]="['/entry', entry.id]">
                          <i class="fa fa-eye"></i>
                        </button>
                        <!-- <button *ngIf="!entry.isExecutable && !entry.isDirectory" type="button" rel="tooltip" title="View" class="btn btn-primary btn-simple btn-xs" [routerLink]="['/entry/file', entry.id]">
                            <i class="fa fa-eye"></i>
                          </button> -->

                        <button *ngIf="!canCopyCanCut" type="button" rel="tooltip" title="Copy" class="btn btn-info btn-simple btn-xs" (click)="onCopy(entry.id,i)">
                          <i class="fa fa-files-o"></i>
                        </button>


                        <button *ngIf="!canCopyCanCut" type="button" rel="tooltip" title="Cut" class="btn btn-info btn-simple btn-xs" (click)="onCut(entry.id,i)">
                          <i class="fa fa-scissors"></i>
                        </button>

                        <button type="button" rel="tooltip" title="Download" class="btn btn-success btn-simple btn-xs" (click)="onDownload(entry.id)">
                          <i class="fa fa-download"></i>
                        </button>

                        <button *ngIf="entry.ownerId.id === currentUserId" type="button" rel="tooltip" title="Edit Task" class="btn btn-warning btn-simple btn-xs">
                          <i class="fa fa-edit"></i>
                        </button>

                        <button *ngIf="entry.ownerId.id === currentUserId" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #isFile>
    <td>
      <div class="text-center">
        <div class="font-icon-detail" class="pe-7s-file"></div>
      </div>
    </td>
  </ng-template>

  <ng-template #isNotExecutable>
    <td>
      <div class="text-center">NO</div>
    </td>
  </ng-template>

  <ng-template #isAccessable>
    NO
  </ng-template>