<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">

            <div class="col-lg-4 col-sm-6" >
                <div class="card" routerLink="/database">
                    <div class="content">
                        <div class="row"   >
                            <!-- <div class="col-xs-5"> -->
                            <div class="icon-big icon-warning text-center">
                                <!-- <i class="ti-server"></i> -->
                                <img src="assets/img/database1.png" alt="..." />
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="footer" class="text-center">
                            <hr />
                            <div class="stats">
                                <div>
                                    <h5>Database </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card" routerLink="/entry">
                    <div class="content">
                        <div class="row">
                            <!-- <div class="col-xs-5"> -->
                            <div class="icon-big icon-warning text-center">
                                <!-- <i class="ti-server"></i> -->
                                <img src="assets/img/folder1.png" alt="..." />
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="footer" class="text-center">
                            <hr />
                            <div class="stats">
                                <div>
                                    <h5>Bucket</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card" routerLink="/processes">
                    <div class="content">
                        <div class="row">
                            <!-- <div class="col-xs-5"> -->
                            <div class="icon-big icon-warning text-center">
                                <!-- <i class="ti-server"></i> -->
                                <img src="assets/img/processes.png" alt="..." />
                            </div>
                            <!-- </div> -->
                        </div>
                        <div class="footer" class="text-center">
                            <hr />
                            <div class="stats">
                                <div>
                                    <h5>Processes</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>